/* Normalize body margin
   not required, just for better view */
body {
  margin: 0;
}

.map {
  position: relative;
  padding: 0 0 50%;  /* Ratio 2:1 */
  width: 100%;
  height: 0;
  max-height: 100vh;  /* limit map height by client height to prevent showing scrollbar */
}

/* Hide map dimensioned container if JS is not enable,
   heve effect if Modernizr is used */
.no-js .map {
  display: none;
}

/* Map container overlays parent to give Maps API all space inside */
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
